<h2 mat-dialog-title>{{data.selectedCompany.nomeAttivita}}</h2>
<mat-dialog-content class="mat-typography">
    <app-chart-generator [selectedCompany]="data.selectedCompany"
        [filteredQuantitativeData]="data.filteredQuantitativeData" [dateFrom]="data.dateFrom!" [dateTo]="data.dateTo!"
        [nameChart]="data.nameChart" [yAxis]="data.yAxisChoice!" [xAxis]="data.xAxisChoice"></app-chart-generator>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Indietro</button>
</mat-dialog-actions>