<div class="grid-container">
  <h1>Grafici Temporali</h1>
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <!-- Assi -->
        <mat-card-content class="dashboard-card-content">
          <app-axis-selection [isXAxisEnabled]="false" [isYAxisEnabled]="true"
            (plotBuilding)="checkIfBuilding($event)"></app-axis-selection>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="plotCanBeBuilt; else elseBlock">
            <app-chart [selectedCompany]="selectedCompany" [filteredQuantitativeData]="filteredQuantitativeData"
              [dateFrom]="dateFrom!" [dateTo]="dateTo!" [nameChart]="card.nameChart" [yAxis]="yAxisChoice!"></app-chart>
            <button mat-raised-button (click)="openChart(card.nameChart)" color="primary">Zoom</button>
          </div>
          <ng-template #elseBlock>Configura l'asse Y tra le opzioni disponibili per generare il grafico</ng-template>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>